@{
    Layout = null;
}
@model System.Exception
<!DOCTYPE html>
<html>
<head>
    <title>Sequential: Chapter Not Found</title>
</head>
<body>
   <h1 style="text-align:center;padding-top:100px;">
       The chapter could not be found.
   </h1>
   <p style="text-align:center;">
      Exception: @Model.Message
   </p>
   <p style="text-align:center;">
      The requested chapter has not yet been entered.
   </p>
</body>
</html>
