<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SeqEFContext" connectionString="metadata=res://*/Sequential2013.csdl|res://*/Sequential2013.ssdl|res://*/Sequential2013.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rocketeer\sqlexpress;initial catalog=Seq2013;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
