@model List<CategoryVModel>
<div id="topics">
<h3>Categories</h3>
@if (Model.Count() > 0) {
   <ul>
   @foreach (CategoryVModel cat in Model) {
      <li>@Ajax.ActionLink(cat.ToString(),"AjaxPostsForCategory","Category",
                  new {
                     bid = cat.BlogId,
                     category = cat.Name,
                     order="desc",
                     pageNum = 1
                  },
                  new AjaxOptions
                  {
                     UpdateTargetId = "blogContent",
                     InsertionMode = InsertionMode.Replace,
                     HttpMethod = "GET"
                  })
      </li>
   }
   </ul>
} else {
<p>None yet. Write more!</p>
}
</div>